* {

    margin: 0;
}

.menu {
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    padding: 40px;
    gap: 40px;
}

.number {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.main-container {
    display: flex;
    flex-direction: column;
    border: none;
}

.row-div {
    display: flex;
    flex-direction: row;
    border: none;
}

.square {
    border : 1px solid rgba(128, 128, 128, 0.5);
}

.painted {
    background-color: black;
}